<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新闻模板==首页</title>
    #parse("common/head.html")
</head>
<body>
    <h1>新闻模板==首页</h1>
    <div>
        <input type="hidden" id="pageNumber" value="1">
        <!--把pageSize变小，用于验证分页是否有效-->
        <input type="hidden" id="pageSize" value="2">
    </div>
    <div id="tpl4content">
        <ul v-for="item in dataList">
            <li><span>contentId:</span>{{item.contentId}}<span>title:</span>{{item.title}}</li>
        </ul>
    </div>
    <div id="tpl4page">

    </div>
</body>
<script src="/script/new/index.js"></script>
</html>