<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>${site.siteName!}</title>
    <meta name="keywords" content="${site.keyword!}" />
    <meta name="description" content="${site.description!}" />
    <link href="${resPath}/blog/css/base.css" rel="stylesheet">
    <link href="${resPath}/blog/css/index.css" rel="stylesheet">
    <link href="${resPath}/blog/css/media.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
    <!--[if lt IE 9]>
    <script src="${resPath}/blog/js/modernizr.js"></script>
    <![endif]-->
</head>
<body>
<div class="ibody">
    <header>
        <h1>${site.siteName!}</h1>
        <h2>${site.description!}....</h2>
        <div class="logo"><a href="${baseURL!}"></a></div>
        <nav id="topnav">
            <a href="${frontPath}/${site.siteId}/">首页</a>
            <#cms_category_list  siteId="${site.siteId}" categoryId="0" isNav="0"   var="bean">
                @if(isNotEmpty(category)&&category.categoryId==bean.categoryId){
                <a id="topnav_current" href="${bean.url!}">${bean.categoryName!}</a>
                @}else{
                <a href="${bean.url!}">${bean.categoryName!}</a>
                @}
            </#cms_category_list>
        </nav>
    </header>
    <article>
        <div class="banner">
            <ul class="texts">
                <p>The best life is use of willing attitude, a happy-go-lucky life. </p>
                <p>最好的生活是用心甘情愿的态度，过随遇而安的生活。</p>
            </ul>
        </div>
        <div class="bloglist">
            <h2>
                <p><span>推荐</span>文章</p>
            </h2>
            <#cms_content_list  siteId="${site.siteId}" categoryId="45" target="1" orderBy="2" isHot="0" hasChild="1" size="15"   titleLen="15"   var="content">
            <div class="blogs">
                <h3><a href="${content.url!}">${content.title!}</a></h3>
                @if(isEmpty(content.thumb)){
                <figure><img src="${resPath}/blog/images/01.jpg" ></figure>
                @}else{
                <figure><img src="${content.thumb}" ></figure>
                @}
                <ul>
                    <p>${content.description!}</p>
                    <a href="${content.url!}" target="_blank" class="readmore">阅读全文&gt;&gt;</a>
                </ul>
                <p class="autor"><span>作者：${content.author!}</span>

                    <#cms_category  categoryId="${content.categoryId}" isParent="0" var="bean">
                    <span>分类：【<a href="${bean.url!}">${bean.categoryName!}</a>】</span>
                    </#cms_category>

                    <span>浏览（<a href="${content.url!}">${content.viewNum!}</a>）</span>
                </p>
                <div class="dateview">${content.inputdate!,dateFormat="yyyy-MM-dd"}</div>
            </div>
            </#cms_content_list>

        </div>
    </article>
    <aside>
        <div class="avatar"><a href="${frontPath}/${site.siteId}/"><span>about westBoy</span></a></div>
        <div class="topspaceinfo">
            <h1>执子之手，与子偕老</h1>
            <p>于千万人之中，我遇见了我所遇见的人....</p>
        </div>
        <div class="about_c">
            <p>网名：westBoy</p>
            <p>职业：无业游民 </p>
            <p>籍贯：甘肃省-兰州市</p>
            <p>QQ：154232101</p>
            <p>邮箱：jin#westboy.net</p>
        </div>
        <div class="bdsharebuttonbox"><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a><a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a><a href="#" class="bds_more" data-cmd="more"></a></div>
        <div class="tj_news">
            <h2>
                <p class="tj_t1">最新文章</p>
            </h2>
            <ul>
                <#cms_content_list  siteId="${site.siteId}" categoryId="45" target="1" orderBy="2" isHot="0" hasChild="1" size="15"   titleLen="15"   var="content">
                   <li><a href="${content.url!}">${content.title!}</a></li>
                </#cms_content_list>
            </ul>
            <h2>
                <p class="tj_t2">推荐文章</p>
            </h2>
            <ul>
                <#cms_content_list  siteId="${site.siteId}" categoryId="45" target="1" orderBy="2" isHot="1" hasChild="1" isRecommend="1" size="15"   titleLen="15"   var="content">
                    <li><a href="${content.url!}">${content.title!}</a></li>
                </#cms_content_list>
            </ul>
        </div>
        <div class="links">
            <h2>
                <p>友情链接</p>
            </h2>
            <ul>
              <#cms_friendlink size="5" groupId="1" var="bean">
                  <li><a target="_blank" href="${bean.linkUrl!}">${bean.linkName!}</a></li>
              </#cms_friendlink>
            </ul>
        </div>
        <div class="copyright">
            <ul>
                <p> Design by DanceSmile</p>
                <p>陇ICP备14000352号-1</p>
            </ul>
        </div>
    </aside>
    <script src="${resPath}/blog/js/silder.js"></script>
    <div class="clear"></div>
    <!-- 清除浮动 -->
</div>
</body>
</html>
